<app-create-task *ngIf="showCreateTaskForm" (closeCreateTask)="toggleCreateTaskForm($event)" />
<div>
  <header>
    <div>
      <h3 class="text-3xl">Tasks APP</h3>
      <p>An application to manage all your team tasks in one place</p>
    </div>
    <button type="button" (click)="toggleCreateTaskForm($event)"
      class="px-5 py-3 text-base font-medium text-center inline-flex items-center text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 rounded-lg dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2">
      <svg class="w-4 h-4 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="2 0 24 24">
        <path fill-rule="evenodd"
          d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4.243a1 1 0 1 0-2 0V11H7.757a1 1 0 1 0 0 2H11v3.243a1 1 0 1 0 2 0V13h3.243a1 1 0 1 0 0-2H13V7.757Z"
          clip-rule="evenodd" />
      </svg>
      Create
    </button>
  </header>
  <section>
    <div>Filters</div>
    <div>
      List of tasks
      <app-task *ngFor="let task of task" [task]="task" />
    </div>
  </section>
</div>
